.submitted-container {
  max-width: 40rem;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  padding: 18px 2.4rem;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9; /* Light background color */
}

.submitted-data {
  margin-top: 25px;
  border: 1px solid #ccc; /* Border around the data */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding inside the data container */
  background-color: #fff; /* White background for the data */
}

.submitted-data p {
  display: flex;
  justify-content: space-between;
  word-break: break-all;
  border-bottom: 1px solid #ccc; /* Separator line between items */
  padding: 10px 0; /* Padding around items */
}

.label-content {
  display: flex;
  align-items: flex-start;
}

.label-content strong {
  margin-right: 20px;
}

.label-content p {
  flex-grow: 1;
  word-wrap: break-word;
}

.print-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
}

.print-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .submitted-container {
    padding: 20px;
  }

  .print-button {
    width: auto;
  }
}

@media print {
  @page {
    margin: 0;
    padding: 0;
    margin-left: 100px;
    margin-top: 50px;
  }

  .submitted-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 20px;
  }

  body * {
    visibility: hidden;
    margin: 0;
    padding: 0;
  }

  .submitted-container, .submitted-container * {
    visibility: visible;
  }

  .submitted-container {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - -55px);
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
  }

  .print-button {
    display: none;
  }
}
