.page-sticky-head-holder {
    position: sticky;
    top: 80px;
    z-index: 10;
    margin-bottom: 30px;
}
.page-sticky-head {
    font-family: 'Montserrat';
    letter-spacing: 5px;
    color: #0d6c7c;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    width: 90%;
    padding: 20px 30px;
    box-shadow: 0px 8px 6px -6px #ddd;
}
.desc_text {
    line-height: 30px;
    margin-left: 15px;
    margin-right: 15px;
}