.page-heading {
    margin: auto !important;
    border-bottom: 1.5px solid #dddddd !important;
    width: 200px !important;
    margin-bottom: 40px !important;
}
.page-head{
    margin: auto;
    text-align: center;
    font-size: 26px;
    margin-bottom: 10px;
}
.nav-bar-back {
    width: 100%;
    background-color: white;
    position: sticky;
    top: 80px;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid #dddddd;
    transition: 0.2s ease-in-out;
}
.aboutUsFilter{
    min-height: 150px;
    width: 140px;
    padding: 16px 4px !important;
    text-wrap: wrap;
    /* margin-right: 10px; */
}
@media screen and (max-width:770px) {
    .aboutUsFilter{
        width: 120px;
        font-size: smaller;
        min-height: 140px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 20px;
    }
}
@media screen and (max-width:500px) {
    .aboutUsFilter{
        margin-left: 15px;
        margin-right: 15px;
    }
}