.video{
  z-index: 100;
}
.video-background {
    position: relative;
    overflow: hidden;
    height: 80vh;
    z-index: 100;
    background:url(
        "../../assets/IITRopar/iitrpr2.jpeg"
      );
    background-position: center;
        background-size: cover;
        background-color: rgb(247, 251, 251);
  }
  
  .video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .video-overlay {
    position: relative;
    top: 30%;
    text-align: center;
    /* transform: translate(-50%, -50%); */
    text-align: center;
  }
  .video-info h1{
    font-size: 7vh; 
    /* max-width: 60px; */
  }
  .video-info span{
    font-size: 12vh;
  }
  .video-info p{
    font-size: 3vh; 
    padding: 1rem;
    font-weight: 600;

  }
  .video-info{
    text-shadow: 4px 4px 8px #000000;
  }
  @media screen and (max-width:700px) {
    .video-info h1{
      font-size: 5vh; 
    }
    .video-info span{
      font-size: 9vh;
    }
    .video-info p{
      font-size: 2vh; 
      padding: 1rem;
    }
    .video-info{
      text-shadow: 1px 1px 2px #000000;
    }
  }